* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Kumbh Sans', sans-serif;
    scroll-behavior: smooth;
}
.navbar {
    background: black;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    /* always on top */
    z-index: 99;
}

.navbar__container {
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    margin: 0 auto;
    padding: 0 50px;
}

#navbar__logo {
    background-color: red;
    background-image: linear-gradient(to top, red, orange);
    background-size: 100%;
    --webkit-background-clip: text;
    --moz-background-clip: text;
    --webkit-text-fill-color: transparent;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
}

.navbar__menu {
    display: flex;
    align-items: center;
    list-style: none;
}

.navbar__item {
    height: 80px;
}

.navbar__links {
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 125px;
    text-decoration: none;
    height: 100%;
}

.navbar__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
    width: 100%;
    /* tanya ntr */
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 10px 20px;
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    border-radius: 4px;
    background: purple;
    background: -webkit-linear-gradient(to right, #fcb045, #fd1d1d, purple);
    background: linear-gradient(to right, yelow, red, purple);
    transition: all 0.3s ease;
    color: white;
}
.home{
    height: 100vh;
    background-color: red;
    display: flex;
    align-items: center;
    justify-content: center;
}
.about{
    height: 100vh;
    background-color: green;
    display: flex;
    align-items: center;
    justify-content: center;
}
.services{
    height: 100vh;
    background-color: yellow;
    display: flex;
    align-items: center;
    justify-content: center;
}
